#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 0rem;
}

h2 {
  margin-bottom: 1rem;
}

body {
  background-color: #232325;
  color: white;
}

.form-select, .form-control {
  background-color: #303133;
  color: white;
  border: 1px solid #303133;
}

.form-control:focus {
  background-color: #303133;
  color: white;
}

button.btn.btn-link {
  padding: 0.3rem 0;
}